* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.App {}

section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
  margin: 1%;
}

.news_card {
  border: 1px solid black;
  background-color: lightgrey;
  border-radius: 2%;
  overflow: hidden;
  box-shadow: 10px 10px 10px grey;
}

img {
  width: 100%;
  height: 50%;
  aspect-ratio: 1;
}

.text {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text h2 {
  font-size: 1.5rem;
  margin: 2%;
}

.text p {
  font-size: 1rem;
  margin: 2%;
}

.text a {
  text-decoration: none;
  padding: 5%;
  border: 1px solid black;
  background-color: grey;
  color: white;
  margin-top: 10%;
  ;
}